<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Dashboard - PatchPilot</title>
  <link rel="stylesheet" href="/static/styles.css">
  <script defer src="/static/app.js"></script>
</head>
<body>
  {{> navbar }}

  <h1>Dashboard</h1>
  <p>Total Devices: {{devices.length}}</p>

  <table id="dashboard-table">
    <thead>
      <tr>
        <th>Hostname</th>
        <th>IP</th>
        <th>OS</th>
        <th>Status</th>
      </tr>
    </thead>
    <tbody>
      {{#each devices}}
        <tr>
          <td>{{hostname}}</td>
          <td>{{ip}}</td>
          <td>{{os}}</td>
          <td>{{status}}</td>
        </tr>
      {{/each}}
    </tbody>
  </table>
</body>
</html>
