{{> navbar }}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Device Detail - PatchPilot</title>
  <link rel="stylesheet" href="/static/styles.css">
</head>
<body>
  <main class="container">
    <h1>Device Detail</h1>

    {{#if device}}
      <dl>
        <dt>Hostname</dt><dd>{{device.hostname}}</dd>
        <dt>OS</dt><dd>{{device.os}}</dd>
        <dt>Type</dt><dd>{{device.device_type}}</dd>
        <dt>CPU</dt><dd>{{device.cpu}}</dd>
        <dt>RAM</dt><dd>{{device.ram}}</dd>
        <dt>Disk</dt><dd>{{device.disk}}</dd>
        <dt>Network</dt><dd>{{device.network}}</dd>
        <dt>Last Check-in</dt><dd>{{device.last_checkin}}</dd>
      </dl>
    {{else}}
      <p>No device selected or device not found.</p>
    {{/if}}

    <p><a href="/devices_page">Back to devices</a></p>
  </main>
</body>
</html>
